{% extends 'base.html' %}
{% block title %}
Manage language context
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
<script type=text/javascript src="{{
    url_for('.static', filename='js/json-viewer.js') }}"></script>
</script>
<script>
    //Function to display alert
    const appendAlert = (message, type, alertPlaceholder) => {
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('')

        alertPlaceholder.innerHTML = "";
        alertPlaceholder.append(wrapper)
    }
    const customAlertPlaceholder = document.getElementById('custom-wvs-json')

    // Custom wvs JSON viewer
    var customWvsJsonObj = {};
    var customWvsJsonViewer = new JSONViewer();
    //document.querySelector("#custom-wvs-json").appendChild(customWvsJsonViewer.getContainer());
    var wvsTextarea = document.getElementById("custom-wvs-div").querySelector("textarea");
    wvsTextarea.value = JSON.stringify({{ custom_wvs| tojson | safe }}, undefined, 2);

    //textarea value to JSON object
    var setCustomWvsJSON = function () {
        try {

            var value = wvsTextarea.value;
            customWvsJsonObj = JSON.parse(value);
            is_value = true;
            appendAlert("Custom word mapping data is valid", 'success', customAlertPlaceholder);
        }
        catch (err) {
            appendAlert("Invalid Custom word mapping data: ".concat(err), 'danger', customAlertPlaceholder);
            is_value = false;
        }
        finally {
            return is_value
        };
    };
    // load default value
    //setCustomWvsJSON();
    var customWVSButton = document.getElementById("display-custom-wvs");
    customWVSButton.addEventListener("click", function () {
        setCustomWvsJSON();
        //customWvsJsonViewer.showJSON(customWvsJsonObj);
    });

    //Placeholder for pairwise_triplewise_entities
    const pairwiseAlertPlaceholder = document.getElementById('pairwise-json')
    // pairwise_triplewise_entities JSON viewer
    var pairwiseJsonObj = {};
    var pairwiseTextarea = document.getElementById("div-pairwise").querySelector("textarea");
    pairwiseTextarea.value = JSON.stringify({{ pairwise_triplewise_entities| tojson | safe }}, undefined, 2);

    //textarea value to JSON object
    var setpairwiseJSON = function () {
        try {
            var value = pairwiseTextarea.value;
            pairwiseJsonObj = JSON.parse(value);
            is_value = true;
            appendAlert("Pairwise, triplewise entities data is valid", 'success', pairwiseAlertPlaceholder);
        }
        catch (err) {
            is_value = false;
            appendAlert("Invalid Pairwise triplewise entities data: ".concat(err), 'danger', pairwiseAlertPlaceholder);
        }
        finally {
            return is_value
        };
    };
    // load default value
    var pairwiseButton = document.getElementById("display-pairwise");
    pairwiseButton.addEventListener("click", function () {
        setpairwiseJSON();
    });
    // Tag JSON viewer

    //Placeholder for pairwise_triplewise_entities
    const tagAlertPlaceholder = document.getElementById('tag-json')
    var tagJsonObj = {};
    var tagTextarea = document.getElementById("div-tag").querySelector("textarea");
    tagTextarea.value = JSON.stringify({{ tag_guiding_typos| tojson | safe }}, undefined, 2);

    //textarea value to JSON object
    var setTagJSON = function () {
        try {
            var value = tagTextarea.value;
            tagJsonObj = JSON.parse(value);
            is_valid = true;
            appendAlert("Spell guide data is valid", 'success', tagAlertPlaceholder);
        }
        catch (err) {

            appendAlert("Invalid Tag guiding typos data: ".concat(err), 'danger', tagAlertPlaceholder);
            is_valid = false;
        }
        finally {
            return is_valid
        };
    };
    // load default value
    var tagButton = document.getElementById("display-tag");
    tagButton.addEventListener("click", function () {
        setTagJSON();
    });



    const submitButton = document.querySelector('#submit');
    let defaultActionCalled = false;

    submitButton.addEventListener('click', function (event) {
        if (!defaultActionCalled) {
            event.preventDefault(); // Prevent the form from submitting

            const promises = [
                new Promise((resolve, reject) => {
                    if (setCustomWvsJSON()) {
                        resolve();
                    } else {
                        reject();
                    }
                }),
                new Promise((resolve, reject) => {
                    if (setpairwiseJSON()) {
                        resolve();
                    } else {
                        reject();
                    }
                }),
                new Promise((resolve, reject) => {
                    if (setTagJSON()) {
                        resolve();
                    }
                    else {
                        reject();
                    }
                })
            ];


            Promise.all(promises)
                .then(() => {
                    defaultActionCalled = true;
                    submitButton.click();

                })
                .catch((error) => {
                    console.error(error);
                });
        }
    });




</script>
{% endblock %}

{% block content %}

<div class="container">
    {% if form.custom_wvs.errors %}
    <ul class="errors">
        {% for error in form.custom_wvs.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if form.pairwise_triplewise_entities.errors %}
    <ul class="errors">
        {% for error in form.pairwise_triplewise_entities.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if form.tag_guiding_typos.errors %}
    <ul class="errors">
        {% for error in form.tag_guiding_typos.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h1>Manage Language Context</h1>

            <p class="lead">Manage language or domain-specific contextualization configuration.</p>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form id="config-form" style="padding-bottom: 50px;" action="" method="POST" role="form" class="form"
                autocomplete="off">
                <div class="mb-5">
                    <label class="form-control-label">Version number</label>
                    <input class="form-control" style="margin-bottom:5px;" id="version" value="{{version_id}}" disabled>
                </div>
                <div class="mb-5" id="custom-wvs-div">
                    {{ wtf.form_field(form.custom_wvs,rows = 50) }}

                    <button id="display-custom-wvs" class="btn btn-success" type="button">Validate JSON</button>
                    <div id="custom-wvs-json"></div>

                </div>

                <div class="mb-5" id="div-pairwise">
                    {{ wtf.form_field(form.pairwise_triplewise_entities,rows = 10) }}

                    <button id="display-pairwise" class="btn btn-success" type="button">Validate JSON</button>
                    <div id="pairwise-json"></div>
                </div>
                <div class="mb-5" id="div-tag">
                    {{ wtf.form_field(form.tag_guiding_typos,rows = 10) }}
                    <button id="display-tag" class="btn btn-success" type="button">Validate JSON
                    </button>
                    <div id="tag-json"></div>
                </div>

                {{ wtf.form_field(form.submit) }}
        </div>
        </form>
    </div>
</div>
</div>
{% endblock %}