th {
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

table {
    margin-bottom: 50px;
}

.table-header {
    border-bottom: 1.5px solid #bbb;
}

.table-row {
    border-bottom: 1.2px solid #ccc;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
/*Added CSS here to override base bootstrap CSS*/

/*BLUE THEME styles - Comment out when using other theme colors*/
/*
body {
    background: linear-gradient(
        180deg,
        rgba(168, 204, 235, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}
.navbar {
    background-color: #1e3561 !important;
}

h1{
    background-color: #264d96;
}
h2,h3{
    color: #1e3561;
}
.btn-primary,
.btn-secondary {
    background-color: #5480d6;
}
.btn-primary:hover,.btn-secondary:hover {
background-color: #A8Bfeb;
}
*/
/*End of BLUE THEME-----------------------------------*/
/*GREEN THEME styles - Comment out when using other theme colors*/

body {
    background: linear-gradient(
        180deg,
        rgb(168, 235, 194) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}
.navbar {
    background-color: #0f4d42 !important;
}
h1 {
    background-color: #216b4f;
}
h2,
h3 {
    color: #0f4d42;
}
.btn-primary,
.btn-secondary {
    background-color: #63cfa3;
    border-color: white !important;
}
.btn-primary:hover,
.btn-secondary:hover {
    background-color: #b0e5d1;
}
*/
/*End of GREEN THEME-----------------------------------*/
/*PURPLE THEME styles - Comment out when using other theme colors*/
/*
body {
    background: linear-gradient(
        180deg,
        rgb(193, 168, 235) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}
.navbar {
    background-color: #472666 !important;
}
h1{
    background-color: #663894;
}
h2,h3{
    color: #472666;
}
.btn-primary,
.btn-secondary {
    background-color: #663894;
    border-color: white !important;
}
.btn-primary:hover,.btn-secondary:hover {
    background-color: #996BC7 ;
}*/
/*End of PURPLE THEME-----------------------------------*/

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: white !important;
}
.navbar-brand {
    color: white !important;
}
/*Navbar Animation and underline*/
.navbar-dark .navbar-nav .nav-link {
    display: inline;
    text-transform: lowercase;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s ease;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin: 0 30px;
    padding: 20px 0;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    transition: 0.3s ease;
    border-bottom: 4px solid #ffffff;
    padding: 8px 0;
}
/*Home page box styling*/
#box {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(240, 240, 240);
    /*Border radius*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*Drop Shadow*/
    -webkit-box-shadow: 0px 10px 13px -7px #cecece,
        5px 5px 15px 5px rgba(148, 148, 148, 0);
    box-shadow: 0px 10px 13px -7px #c6c6c6,
        5px 5px 15px 5px rgba(148, 148, 148, 0);
}
#box:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    background-color: rgb(230, 230, 230);
}

#Layer_1 {
    width: 70px;
}
h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    font-size: 30pt;
    font-weight: 500;
    margin-left: -30%;
    padding-left: 30%;
    margin-right: -30%;
    margin-bottom: 30px;
}
h2 {
    font-weight: 400;
}
h3 {
    font-size: 18pt;
}
/*Button Styling*/
.btn-primary,
.btn-secondary {
    border-radius: 200px;
}
.container-fluid {
    width: 90vw;
}
.container-fluid .row {
    /*positionin*/
    margin-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50x;
    /*BG Color*/
    background-color: white;
    /*Border radius*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*Drop Shadow*/
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    /*overflow*/
    overflow: hidden;
}
.container {
    /*positionin*/
    margin-top: 50px;
    padding-bottom: 50px;
    /*BG Color*/
    background-color: white;
    /*Border radius*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*Drop Shadow*/
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    /*overflow*/
    overflow: hidden;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.current-page-number {
    background-color: #4caf50;
    color: white;
}

.pagination a:hover:not(.current-page-number) {
    background-color: #ddd;
}

/*--MEDIA QUERIES FOR Mobile responsiveness--*/
@media only screen and (max-width: 1200px) {
    /*Navbar Animation and underline*/
    .navbar-dark .navbar-nav .nav-link {
        padding-top: 20px;
        border-top: none;
        border-bottom: none;
    }
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
        border-bottom: none;
    }
}
