{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
<style>
    body {
        background: #e8f1f9;
    }

    th {
        padding-right: 20px;
    }

    td {
        padding-right: 20px;
    }

    form {
        display: inline;
        padding-right: 20px;
    }
</style>
{% endblock %}


{% block title %}
Delete Rule
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript src="{{
    url_for('.static', filename='js/add_tags.js') }}"></script>
</script>
{% endblock %}

{% include "includes/nav.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h1 class="pt-5 pb-2">Delete Urgency Rule #{{ rule_to_delete.urgency_rule_id }}</h1>

            <p class="lead">Are you sure you wish to delete this urgency rule?</p>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <table cellpadding="5" style="margin-bottom:50px;">
                <thead>
                    <tr style="border-bottom: 1.5px solid #bbb">
                        <th>ID</th>
                        <th>Title</th>
                        <th>Include Tags</th>
                        <th>Exclude Tags</th>
                        <th>Author</th>
                        <th>Last edited</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="border-bottom: 1.2px solid #ccc">
                        <td>{{rule_to_delete.urgency_rule_id}}</td>
                        <td>{{rule_to_delete.urgency_rule_title}}</td>
                        <td>{{rule_to_delete.urgency_rule_tags_include}}</td>
                        <td>{{rule_to_delete.urgency_rule_tags_exclude}}</td>
                        <td>{{rule_to_delete.urgency_rule_author}}</td>
                        <td>{{rule_to_delete.urgency_rule_added_utc.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                    </tr>
                </tbody>
            </table>

            <br />

            <form method="POST" action="">
                <input type="submit" class="btn btn-danger" value="Delete" name="Delete" />
            </form>

            <form method="GET" action="{{ url_for('.view_rules') }}">
                <input type="submit" class="btn btn-secondary" value="Go Back" name="Go Back" />
            </form>
        </div>
    </div>
</div>



{% endblock %}
