<nav class="navbar navbar-expand-xl navbar-dark bg-light"><!--Added xl to change breakpoint of navbar-->
  <a class="navbar-brand" href="/">{{ config.PROJECT_DISPLAY_NAME }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a {% if request.path in ("/", "/home" ) %} class="nav-link active" {% else %} class="nav-link" {% endif %}
          href="/">Home
          {% if request.path == "/" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      <li class="nav-item">
        <a {% if request.path in ("/demo/apicall", "/demo" ) %} class="nav-link active" {% else %} class="nav-link" {%
          endif %} href="/demo">Core Demo
          {% if request.path in ("/demo", "/demo/apicall") %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      <li class="nav-item">
        <a {% if request.path in ("/faqs/view", "/faqs" ) %} class="nav-link active" {% else %} class="nav-link" {%
          endif %} href="/faqs">Manage FAQs
          {% if request.path in ("/faq_ui/view", "/faq_ui") %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      <li class="nav-item">
        <a {% if request.path=="/demo/check-new-faq-tags" %} class="nav-link active" {% else %} class="nav-link" {%
          endif %} href="/demo/check-new-faq-tags">Check New FAQ Tags
          {% if request.path == "/demo/check-new-faq-tags" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>

      {% if config.get('UD_ENABLED') %}
      <li class="nav-item">
        <a {% if request.path=="/ud/ud-rules/view" %} class="nav-link active" {% else %} class="nav-link" {% endif %}
          href="/ud/ud-rules/view">Manage Urgency Rules<span class="sr-only">(current)</span>
          {% if request.path == "/ud/ud-rules/view" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      <li class="nav-item">
        <a {% if request.path=="/ud/check-new-urgency-rules" %} class="nav-link active" {% else %} class="nav-link" {%
          endif %} href="/ud/check-new-urgency-rules">Check New Urgency Rule
          {% if request.path == "/ud/check-new-urgency-rules" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a {% if request.path=="/config/edit-language-context" %} class="nav-link active" {% else %} class="nav-link"
          {% endif %} href="/config/edit-language-context">Manage Language Context<span
            class="sr-only">(current)</span>
          {% if request.path == "/config//edit-language-context" %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
    </ul>
  </div>
</nav>