{% extends 'base.html' %}
{% block title %}
Add Config
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript src="{{
    url_for('.static', filename='js/add_tags.js') }}"></script>
<script type=text/javascript src="{{
        url_for('.static', filename='js/add_questions.js') }}"></script>
<script type=text/javascript src="{{
            url_for('.static', filename='js/json-viewer.js') }}"></script>
</script>
<script>
    var jsonObj = {};
    var jsonViewer = new JSONViewer();
    document.querySelector("#param_json").appendChild(jsonViewer.getContainer());

    var textarea = document.querySelector("textarea");
    textarea.value = JSON.stringify({
        PREPROCESSING_PARAMS:
        {
            min_dashed_words_to_parse_text_from_url: 4,
            reincluded_stop_words: ["how", "what", "who", "in", "where", "can"]
        },
        MODEL_PARAMS: {
            tag_scoring_method: "cs_nearest_k_percent_average",
            tag_scoring_kwargs:
            {
                "k": 10,
                "floor": 1
            },
            score_reduction_method: "simple_mean",
            score_reduction_kwargs: null,
            weighting_method: "add_weight",
            weighting_kwargs:
            {
                N: 5
            }
        },
        MATCHING_MODEL: "google_news_pretrained",
        N_TOP_MATCHES_PER_PAGE: 5
    });
    var setJSON = function () {
        try {

            var value = textarea.value;
            jsonObj = JSON.parse(value);
        }
        catch (err) {
            alert(err);
        }


    };

    setJSON();

    let button = document.getElementById("button_params");
    button.addEventListener('click', function () {
        setJSON()
        jsonViewer.showJSON(jsonObj);
    });

</script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h1>Add Config</h1>

            <p class="lead">This form should be used to update application and contextualization configuration.</p>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form style="padding-bottom: 50px;" action="" method="POST" role="form" class="form" autocomplete="off">

                {{ wtf.form_field(form.alias,placeholder='Alias for the configuration') }}
                <label class="form-control-label">Version number</label>
                <input class="form-control" style="margin-bottom:5px;" id="version" value="123ef45fc31" disabled>
                <div class="form-group">
                    <h4> Application configuration</h4>


                    <div class="form-group">
                        <h5> Preprocessing parameters</h5>
                        {{ wtf.form_field(form.min_dashed_words_to_parse_text_from_url ) }}
                        {{ wtf.form_field(form.reincluded_stop_words ) }}
                    </div>


                    <div class="form-group">
                        <h5> Model parameters</h5>
                        {{ wtf.form_field(form.matching_model ) }}
                        {{ wtf.form_field(form.n_top_matches_per_page ) }}
                        {{ wtf.form_field(form.tag_scoring_method ) }}
                        {{ wtf.form_field(form.tag_scoring_k ) }}
                        {{ wtf.form_field(form.score_reduction_method ) }}
                        {{ wtf.form_field(form.score_reduction_kwargs ) }}
                        {{ wtf.form_field(form.weighting_method ) }}
                        {{ wtf.form_field(form.weighting_kwargs ) }}

                    </div>
                </div>
                <div class="form-group">
                    <h4> Contextualization configuration</h4>
                    {{ wtf.form_field(form.custom_wvs ) }}
                    {{ wtf.form_field(form.pairwise_triplewise_entities ) }}
                    {{ wtf.form_field(form.tag_guiding_typos ) }}

                </div>

                {{ wtf.form_field(form.submit) }}
            </form>
        </div>
    </div>
</div>

{% endblock %}