{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
<style>
    
</style>
{% endblock %}


{% block title %}
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-10 mx-lg-auto mx-md-auto">
        <h1 class="pt-5 pb-2">ask a question app</h1>
            <h2>Welcome</h2>
            <p>
            This admin app can be used to manage and test the AAQ service. Please use the navigation bar to continue or use one of the buttons below.
            </p>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <h2>Where would you like to start?<br /></h2>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-4" style="text-align-last: center; align-self: center; height: 210px;">
                            <a href="/demo/" style="text-decoration: none;"><div id="box">
                                {% include "hover-click.svg" %}
                                <h3><br />Core Demo</h3>
                            </div></a>
                       </div>
                        <div class="col-md-4" style="text-align-last: center; align-self: center; height: 210px;">
                            <a href="/faqs/" style="text-decoration: none;"><div id="box">
                                {% include "question.svg" %}
                                <h3><br />Manage FAQs</h3>
                            </div></a>
                        </div>
                        <div class="col-md-4" style="text-align-last: center; align-self: center; height: 210px;">
                            <a href="/demo/check-new-faq-tags" style="text-decoration: none;"><div id="box">
                                {% include "right-file.svg" %}
                                <h3><br />Check FAQs</h3>
                            </div></a>
                        </div>
                    </div>    
                </div>
            </div>
            {% if config.get('UD_ENABLED') %}
            <div class="row">
                <div class="col-md-12">
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-6" style="text-align-last: center; align-self: center; height: 210px;">
                            <a href="/ud/check-new-urgency-rules" style="text-decoration: none;"><div id="box">
                                {% include "check_urgency.svg" %}
                                <h3><br />Check Urgency Rules</h3>
                            </div></a>
                        </div>
                        <div class="col-md-6" style="text-align-last: center; align-self: center; height: 210px;">
                            <a href="/ud/ud-rules/view" style="text-decoration: none;"><div id="box">
                                {% include "manage_urgency.svg" %}
                                <h3><br />Manage Urgency Rules</h3>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
               <div class="col-12"><p><br />
                </p>
                </div>
            
        </div>
    </div>
        
</div>
{% endblock %}
