name: Update dev container on EC2
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  UpdateDevContainer:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: aaq_admin_tempalte
      VERSION: dev
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Configure AWS credentials
        id: creds
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Get AWS secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v1
        with:
          secret-ids: |  # Replace ARNs with your own
            ADMIN, arn:aws:secretsmanager:af-south-1:678681925278:secret:aaq-template-admin-secrets-dAEyBT
          parse-json-secrets: true
      - name: Build Docker image
        run: |
          cp ./requirements.txt ./admin_webapp/requirements.txt
          docker build --rm \
            --build-arg NAME=${{ github.event.repository.name }} \
            --build-arg PORT=9903 \
            -t $IMAGE_NAME \
            ./admin_webapp
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Docker tag and push image to ECR 
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          docker image tag ${IMAGE_NAME}:$VERSION $ECR_REGISTRY/aaq_solution/${IMAGE_NAME}:$VERSION
          docker push $ECR_REGISTRY/aaq_solution/${IMAGE_NAME}:$VERSION
      - name: Trigger webhook to redeploy container
        uses: distributhor/workflow-webhook@v2
        env:
          webhook_url: ${{ env.ADMIN_WEBHOOK_URL }}
          webhook_secret: ${{ env.ADMIN_WEBHOOK_SECRET }}
